@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-success: #22c55e;
  --color-danger: #f97316;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8fafc; /* Slate-50 */
  color: #1e293b; /* Slate-800 */
}
